<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edite post</title>
</head>
<body>
    <h3>You are on edit post route</h3>

    <h3>Edit your chat :   <%= chat._id %></h3>
    <p>This chat was send from <b><%= chat.from%></b> to <b><%=chat.to %></b></p>

    <form method="POST" action="/chats/<%= chat._id %>?_method=PUT">
        <textarea placeholder="Enter the chat" name="msg" rows="10" cols="50" ><%=chat.msg %></textarea>
        <button>Edit</button>
    </form>
</body>
</html>