<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatapp chats</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>All chat from database</h1>

    <form method="get" action="/chats/new">
        <button>New Chat</button>
    </form>
    <br><br>

    <% for(let chat of chatFromDB){ %>
        <div class="chats">
            <p><b>From :) </b>
               <i> <%= chat.from %> </i>
            </p>

            <div class="msg">
                <p>
                    <%= chat.msg %>
                </p>
            </div>

            <p><b>Received by :)</b>
                <i><%= chat.to %> </i>
            </p>
            <hr>
            <p><b><%= chat.created_at.toString().split(" ")[4] %></b></p>
            <p><b><%= chat.created_at.toString().split(" ").slice(0,4).join("/")%></b></p>
            <form method="GET" action="/chats/<%= chat._id %>/edit">
                <button>Edit chat</button>
            </form>
            <br>
            <form method="post" action="/chats/<%= chat._id %>?_method=DELETE">
                <button>Delete chat</button>
            </form>
    </div>
    <br><br>
    
    <% } %>
</body>
</html>


    